USE [QLSV]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 01/11/2023 16:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaSV] [int] NOT NULL,
	[MaMonHoc] [int] NOT NULL,
	[Diem] [float] NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 01/11/2023 16:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nchar](10) NOT NULL,
	[MaKhoa] [nchar](10) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 01/11/2023 16:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMonHoc] [int] NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 01/11/2023 16:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [int] NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[MaLop] [nchar](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIEM] ([MaSV], [MaMonHoc], [Diem]) VALUES (1, 1, 7.6)
INSERT [dbo].[DIEM] ([MaSV], [MaMonHoc], [Diem]) VALUES (1, 2, 6.6)
INSERT [dbo].[DIEM] ([MaSV], [MaMonHoc], [Diem]) VALUES (2, 1, 5.3)
INSERT [dbo].[LOP] ([MaLop], [MaKhoa]) VALUES (N'11DHTH    ', N'CNTT      ')
INSERT [dbo].[LOP] ([MaLop], [MaKhoa]) VALUES (N'12DHTT    ', N'ATTT      ')
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc]) VALUES (1, N'Công nghệ .NET')
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc]) VALUES (2, N'Lập trình Web')
INSERT [dbo].[SINHVIEN] ([MaSV], [TenSV], [NgaySinh], [MaLop]) VALUES (1, N'Huỳnh Hữu Đức', CAST(N'2002-05-29 00:00:00.000' AS DateTime), N'11DHTH    ')
INSERT [dbo].[SINHVIEN] ([MaSV], [TenSV], [NgaySinh], [MaLop]) VALUES (2, N'Huỳnh Hữu Tính', CAST(N'2004-07-22 00:00:00.000' AS DateTime), N'12DHTT    ')
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOP_SINHVIEN] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_LOP_SINHVIEN]
GO
